html {
    background: url("../Images/Karate1.png") no-repeat;
    background-position-y: 40px;
    background-size: 60%;
    background-position-x: 550px;
}

h1 {
    float: left;
    margin-left: 100px;
    margin-top: 40px;
    font-family: 'Shojumaru', cursive;
}

#blackbelt {
    float: left;
    width: 430px;
    height: 100px;
    position: absolute;
    margin-top: 80px;
    margin-left: 30px;
}

#window {
    float: left;
    width: 540px;
    height: 500px;
    position: absolute;
    margin-left: 30px;
}

p {
    margin-top: 200px;
    margin-left: 60px;
    width: 400px;
}

.footer {
    color: white;
    font-family: 'Shojumaru', cursive;
    background-color: black;
}
